
header {
  text-align: center;
  background-image: url("../Content/VariaMushrooms.jpg");
  background-size: cover;
}

#bubble {
  background-color: white;
  border-radius: 50%/25%;
  max-width: 400px;
  min-height: 650px;
  margin: auto;
}

nav {
  background-color: rgba(255,255,255,0.3);
}

ul  {
    display: inline-flex;
    list-style: none;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

li {
  padding: 10px;
  margin: 10px;
  background-color: #face81;
  border-radius: 5px;
}
li:hover {
  padding: 10px;
  margin: 10px;
  background-color: #a7741b;
}

article div h3 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: inherit;
  padding: 280px;
  margin: auto;
  font-size: large;
  font-weight: bold;
}

article div{
  text-align: left;
  position: relative;
  padding-bottom: 0px;
}


#Foraged div {
  background-color: #a7741b;
  color: #a7741b;
}
#Cultivated div {
  background-color: #5d79a6;
  color: #5d79a6;
}
#Forays div {
  background-color: #9a1935;
  color: #9a1935;
}
